<div class="container" ng-app="longhornSublease">
	<nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" ui-sref="home">Longhorn Subleasing</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a ui-sref="home">Home</a></li>
	            <li><a href="#about">About</a></li>
	            <li><a href="#contact">Contact</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	          	<li logout-button><a ng-click="logout()" ui-sref="login">Logout</a></li>
	          </ul>
	        </div>
	      </div>
	</nav>

	<h1>Post Your Apartment</h1>

	<form class="form-group" name="subletForm" ng-submit="submitApartment(apartment)" ng-controller="postCtrl">
	    <div class="row">
	        <div class="col-sm-4">
	            <p class="input-group">
	            <label for="startDate">Start Date:</label>
	              <input type="date" id="startDate" class="form-control" uib-datepicker-popup ng-model="dt.start" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" required/>
	          </p>
	        </div>
	        <div class="col-sm-4">
	            <p class="input-group">
	            <label for="endDate">End Date:</label>
	              <input type="date" id="endDate" class="form-control" uib-datepicker-popup ng-model="dt.end" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" required/>
	            </p>
	        </div>
	    </div>
	    <div>
		<input class="form-group form-control" ng-model="apartment.complex" type="text" placeholder="Apartment Complex" required/>
		</div>

	    <div class="row form-group">
	    	<div class="col-sm-4">
				<select class="form-control" ng-model="apartment.location" ng-options="location for location in locations" required>
					<option value="">Location</option>
				</select>
			</div>
			<div class="col-sm-4">
				<select class="form-control" ng-model="apartment.sex" ng-options="sex for sex in sexes" required>
				<option value="">Male/Female</option>
				</select>
			</div>
			<div class="col-sm-4">
				<select class="form-control" ng-model="apartment.bathroom" ng-options="bathroom for bathroom in bathrooms" required>
				<option value="">Bathroom</option>
				</select>
			</div>

		</div>

		<div class="form-group input-group">
			<span class="input-group-addon">$</span>
			<input type="number" class="form-control form-group" ng-model="apartment.rent" type="text" placeholder="Monthly Rent" required/>
		</div>

		<select class="form-control form-group" ng-model="apartment.pets" ng-options="option for option in petOptions" required>
			<option value="">Pets</option>
		</select>
		<select class="form-control form-group" ng-model="apartment.washer" ng-options="option for option in washOptions" required>
			<option value="">Washer/Dryer</option>
		</select>
		<textarea class="form-control form-group" rows="5" ng-model="apartment.description" type="text" placeholder="Description" required></textarea>



		Image Upload
		<!-- <button class="form-control form-group" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Select Images</button> -->
          <!-- <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      	<span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      	</span>

  		</div>   -->





		<button type="submit" class="btn btn-default" >Post Sublet</button>
		<button class="btn btn-default" ui-sref='home'>Cancel</button>
		
	</form>


</div>