<div>

<h1>Sublet Finder</h1>

<table class="table active">
	<thead>
		<tr>
			<th> </th>
			<th>Description</a>
			</th>
			<th>
				Monthly Rent
			</th>
			<th>
				M/F
			</th>
		</tr>
	</thead>
	<tbody>
		<input type="text" ng-model="search" placeholder="Search complex or rent...">
		<tr ng-repeat="list in listings | filter: search">
			<td>
			<img class="img-responsive" src='http://media-cdn.tripadvisor.com/media/photo-s/01/be/64/50/stadtnest-bed-breakfast.jpg'/>
			<td>
				<dl><a ui-sref="posting({postId: list.$id})">
				<dd>{{list.newApartment.complex}}</dd></a>
				<dd><em><small>({{list.newApartment.location}})</small></em></dd>
				<dd><small>{{list.newApartment.description}}</small></dd>
				</dl>
			</td>
			<td>${{list.newApartment.rent}}</td>
			<td>{{list.newApartment.sex}}</td>
		</tr>
	</tbody>
</table>

<div>
<a ui-sref='postSublet' class="listing">Post Your Sublet</a>
</div>