<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Longhorn Subleasing</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#">Home</a></li>
	            <li><a href="#about">About</a></li>
	            <li><a href="#contact">Contact</a></li>
	          </ul>
	        </div>
	      </div>
	</nav>
<h1>Sublet Finder</h1>

<table class="table active">
	<thead>
		<tr>
			<th> </th>
			<th>Description</a>
			</th>
			<th>
				Monthly Rent
			</th>
			<th>
				M/F
			</th>
		</tr>
	</thead>
	<tbody>
		<input class="form-control" type="text" ng-model="search" placeholder="Search complex or rent...">
		<tr ng-repeat="list in listings | filter: search">
			<td>
			<img class="thumbnail" src='http://media-cdn.tripadvisor.com/media/photo-s/01/be/64/50/stadtnest-bed-breakfast.jpg'/>
			<td>
				<dl><a ui-sref="posting({postId: list.$id})">
				<dd>{{list.newApartment.complex}}</dd></a>
				<dd><em><small>({{list.newApartment.location}})</small></em></dd>
				<dd><small>{{list.newApartment.description}}</small></dd>
				</dl>
			</td>
			<td>${{list.newApartment.rent}}</td>
			<td>{{list.newApartment.sex}}</td>
		</tr>
	</tbody>
</table>

<div>
<a ui-sref='postSublet' class="listing">Post Your Sublet</a>
</div>